<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <connectionStrings>
      <add name="Projekt_ASP" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Projekt_ASP;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Projekt_ASP.mdf" providerName="System.Data.SqlClient" />
    </connectionStrings>
  </system.web>
</configuration>